//Адаптив для экранов 1200
@media ( max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 600px
  .booking
    width: 340px
  .map
    width: 340px
  .card
    width: 230px
    height: 230px
  .package
    &:first-child
      .package
        &__old-price
          margin-top: 24px
        &__descr
          margin-bottom: 24px
  .footer
    &__input
      &-group
        flex-basis: 100%

//Адаптив для экранов 992
@media ( max-width: 992px)
  .hotel
    padding-bottom: 60px
    &-slider
      width: 100%
      margin-bottom: 30px
  .container, .newsletter-wrapper
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin: auto
    &-menu
      padding: 22.5px 0
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 135px
  .search
    width: 340px
  .booking-wrap
    width: 100%
    flex-direction: row
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      width: 340px
      height: 255px
      margin-bottom: 20px
  .packages-wrapper
    grid-template: 1fr 1fr 1fr / 1fr 1fr
  .package
    &:first-child
      grid-column: 1 / 3
  .footer
    padding: 73px 0 33px 0
    &-wrapper
      grid-template-columns: 1fr 1fr 1fr 20% 1fr 1fr
      grid-row-gap: 40px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      width: 104px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-row-start: 3
        grid-column: span 5
      &-form
        grid-row-start: 4
        grid-column: span 5
    &-bottom
      display: flex
      justify-content: space-between
      padding-top: 80px
      &__text
        width: 283px
        margin-top: 10px
      &__icons
        margin-top: 10px
    &__input
      &-group
        flex-basis: 48%
  .modal
    &__dialog
      width: 100%
      overflow-y: scroll
        
//Адаптив для экранов до 768
@media ( max-width: 767px)
  .hotel
    padding-bottom: 40px
    &-slider
      height: 350px
      margin-bottom: 20px
  .container
    max-width: 92%
  .navbar
    &--fixed
      position: fixed
      z-index: 99
      width: 100%
    &-menu
      &--mobile
        position: absolute
        z-index: 10
        right: -100%
        flex-direction: column
        padding-left: 38px
        padding-right: 38px
        width: 100%
        background-color: $dark
      &--active
        right: 0
      &__item
        margin-bottom: 20px
      &__link
        font-size: 12px
        line-height: 15px
    &__user
      margin-bottom: 27px
    &__search
      margin-bottom: 39px
      max-width: 340px
  .user
    order: -2
    flex-direction: column
    justify-content: center
    color: $light
    &__name
      margin: 10px 0 0 0
  .search
    order: -1
    width: 100%
    max-width: 340px
    &__input
      width: 100%
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      padding: 0
      width: 16px
      height: 11px
      border: none
      background-color: $light
      cursor: pointer
      outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .breadcrumb
    &-list
      padding-top: 96px
  .stars
    flex-basis: auto
  .hotel
    padding-top: 5px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__descr
        max-width: 280px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .booking
    width: 100%
    margin-bottom: 20px
    &-wrap
      flex-wrap: wrap
  .map
    width: 100%
  .newsletter
    &-wrapper
      width: 92%
      flex-direction: column
      align-items: flex-start
    &-title
      margin-bottom: 37px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        padding: 0 30px 36px 30px
        &::after, &::before
          display: none
      &__button
        top: 31px
        &--prev
          left: 50%
          margin-left: -90px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -90px
          transform: translate(50%, 0)
  .card
    width: 48%
  .packages-wrapper
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    grid-auto-rows: min-content
    column-gap: 0
    row-gap: 20px
  .package
    grid-template-rows: 350px 1fr
    &__info
      padding: 30px 21px 30px 44px
    &__image
    &:first-child
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr
      grid-column: 1 / 2
      .package
        &__image
          max-height: 350px
  .footer
    &__input
      &-group
        flex-basis: 100%

//Адаптив для экранов 576
@media ( max-width: 576px)
  .logo
    width: 99px
  .reviews
    padding-bottom: 0
  .activities
    padding-top: 0
    padding-bottom: 60px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
  .footer
    padding: 69px 0 21px 0
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-wrap: wrap
    &__additional
      grid-row: 4
      grid-column: 1
      order: 2
    &__categories
      grid-row: 5
      grid-column: 1
      order: 3
    &__legal
      grid-row: 3
      grid-column: 1
      order: 1
      justify-self: start
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__info
      flex-basis: 100%
      order: 2
      margin-bottom: 15px
    &__button
      order: 3
    &__title
      &--indent
        margin-bottom: 15px
      &--inline
        width: 100%
        margin-bottom: 22px
    &__text
      margin-top: 34px
    &-bottom
      flex-wrap: wrap
      padding-top: 20px
  .modal
    &__dialog
      max-width: 450px
      padding: 33px 68px

//Адаптив для экранов 480
@media ( max-width: 480px)
  .hotel
    &-slider
      height: 179px
  .map
    height: 172px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .reviews
    &__title
      max-width: 245px
      margin-left: auto
      margin-right: auto
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
  .packages
    padding-top: 0
    &__title
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
  .package
    grid-template-rows: 250px 1fr
    &__info
      padding-left: 21px
    &:first-child
      .package
        &__info
          padding-left: 21px
        &__image
          max-height: 250px
  .modal
    &__dialog
      width: 90%
      padding: 33px 15px
    &__info
      width: 100%
    &__button
      margin-bottom: 10px

@media (max-height: 500px) and (max-width: 767px)
  .navbar
    &-menu
      &--mobile
        justify-content: flex-start
        min-height: 100vh
        flex-wrap: wrap
      &__item
        margin-bottom: 10px
    &__user
      display: none
    &__search
      display: none
@media (max-height: 500px)
  .modal
    &__dialog
      padding: 15px
      height: 90%
      width: 80%
    &__button
      margin-bottom: 15px
